/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE files ###
.idea/
.vscode/
*.iml
*.classpath
*.project
*.settings/

### OS files ###
.DS_Store
Thumbs.db